<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title #{title}

        include modules/_styles
        include modules/_fav

    body
        include mixins/_mixins
        include mixins/_svg
        .container-fluid#webmovie
            //- include components/_header
            include components/_nav
            //- include components/home/_home
            include components/home/_watch
            include components/_footer

        include modules/_scripts