header.row.header#home
    .col-md-12
        .wrapper
            .header__search.row
                .col-md-4.header__search--center
                    input(type="search" placeholder="What are you looking for ?").form-control#search-bar
            .header__album
                h2 Dragon Ball Super
                small new episode
                .header__album--btn
                    button.btn.btn-outline-primary.btn-active play
                    button.btn.btn-outline-primary follow