.row.topmenu#navmenu
    .col-md-12
        .wrapper
            nav.navbar.topmenu__nav
                button.navbar-toggler.hidden-lg-up(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    i.fa.fa-bars
                #navbarResponsive.collapse.navbar-toggleable-md
                    ul.nav.navbar-nav
                        li.nav-item.active.hvr-underline-from-left
                            a.nav-link(href='#home')
                                | Home 
                                span.sr-only (current)
                        li.nav-item.hvr-underline-from-left
                            a.nav-link(href='#newanime') New Anime
                        li.nav-item.hvr-underline-from-left
                            a.nav-link(href='#trending') Trending
                        li.nav-item.hvr-underline-from-left
                            a.nav-link(href='#popular') Popular
