.header
    height 400px
    // overflow hidden
    background url('../img/6.jpg')
    background-size cover
    background-attachment fixed
    background-position center center
    position relative
    transition all 0.3s ease
    &:before
        content ''
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        background linear-gradient(to top, rgb(29, 67, 80), rgba(164, 57, 49, 0.66))
    .wrapper
        height @height
    &__search
        padding-top 10px
        &--center
            margin 0 auto
            float none
        input
            height 40px
            background rgba(30, 30, 32, 0.68)
            text-align center
            transition all 0.3s ease-in-out
            border none
            &:focus
                color white
                background #1e1e20
    &__album
        position absolute
        bottom 50px
        color white
        h2
            transition all 0.4s ease-in-out
            margin-bottom 5px
        small
            text-transform uppercase
            font-size 14px
            letter-spacing 1.5px
            display block
            margin-bottom 20px
        &--btn
            button
                margin-bottom 5px
                width 135px
                height 35px
                text-transform uppercase
                border 2px solid #ed215e
                color #ed215e
                line-height 1
                transition all 0.3s ease-in-out
                &:hover
                    background #ed215e
                    border-color #ed215e
                &:focus
                    background #1D4350

.fix-search
    position fixed
    z-index 9999
    width 500px
    margin 0 120px
    top 15px
    @media screen and (max-width: 1080px)
        width 400px
        margin-left 100px
    @media screen and (max-width: 990px)
        margin-left 50px
        left 10px
        width 90%
    @media screen and (max-width: 558px)
        width 82%