// jQuery
script(src="components/jquery/dist/jquery.min.js")

// jQuery
script(src="components/Flowtype.js/flowtype.js")

// tether
script(src="components/tether/dist/js/tether.min.js")

// bootstrap
script(src="components/bootstrap/dist/js/bootstrap.min.js")

// My script
script(src="js/functions.js")