// bootstrap
link(rel="stylesheet", href="components/bootstrap/dist/css/bootstrap.min.css")

// font awesome
link(rel="stylesheet", href="components/components-font-awesome/css/font-awesome.min.css")

// styles
link(rel="stylesheet", href="components/hover/css/hover-min.css")

// styles
link(rel="stylesheet", href="css/animate.css")

link(rel="stylesheet", href="css/watch.css")

// styles
link(rel="stylesheet", href="css/main.css")
